@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* CSS HEX */
  --alice-blue: #e7ecefff;
  --yale-blue: #274c77ff;
  --cerulean-frost: #6096baff;
  --baby-blue-eyes: #a3cef1ff;
  --battleship-grey: #8b8c89ff;

  --primary-color: var(--yale-blue);
  --primary-border-color: var(--alice-blue);
  --text-color: #000;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.dialog {
  color: var(--primary-color);
  list-style: none;
  border-bottom: 1px solid #ccc;
  margin-right: 15px;
}

.var {
  font-size: 1rem;
  border-bottom: 1px solid #cccccc;
  margin-right: 55px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.var-label {
  font-size: 1.1rem;
  font-weight: 500;
}

.var-value {
  text-align: right;
  flex-grow: 2;
  align-self: center;
}

.var-float,
.var-integer,
.var-string,
.var-enum,
.var-switch,
.var-action {
  display: flex;
}
.var-enum {
  background: red;
}

.var-switch {
  background: blue;
}

.var-action {
  background: green;
}

.var[data-unit]::after {
  content: attr(data-unit);

  position: relative;
  top: 0px;
  min-width: 35px;
  text-align: right;
  margin-left: 4px;

  background-color: #ffffcc;

  color: #000000;
  font-size: 14px;
}

.btn {
  background: #1e90ff;
  color: #fff;
  border: 1px solid #000;
}
