
:root {
  /* CSS HEX */
  --alice-blue: #e7ecefff;
  --yale-blue: #274c77ff;
  --cerulean-frost: rgb(50, 163, 238);
  --baby-blue-eyes: #a3cef1ff;
  --battleship-grey: #8b8c89ff;

  --primary-color: var(--yale-blue);
  --primary-border-color: var(--alice-blue);
  --text-color: #000;
  --highlight-color: var(--cerulean-frost)
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 50px;
  background: var(--battleship-grey);
}

main {
  padding: 10px;
}

.dlg-h1 {
  color: var(--primary-color);
  list-style: none;
  border-bottom: 1px solid #ccc;
  margin-right: 15px;
  background: red;
}

.dlg-h2 {
  color: var(--primary-color);
  list-style: none;
  border-bottom: 1px solid #ccc;
  margin-right: 15px;
}

.var {
  font-size: 1rem;
  border-bottom: 1px solid #cccccc;
  margin-right: 55px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 2;
}

.var-label {
  font-size: 1.1rem;
  font-weight: 500;
}

.var-value {
  text-align: right;
  flex-grow: 2;
  align-self: center;
}

.var-float,
.var-integer,
.var-string,
.var-enum,
.var-switch,
.var-action {
  display: flex;
}

.var-value .no-unit,
.var-value .no-unit {
  margin-right: 40px;
}

.var[data-unit]::after {
  content: attr(data-unit);

  position: relative;
  top: 0px;
  min-width: 35px;
  text-align: right;
  margin-left: 4px;

  background-color: #ffffcc;

  color: #000000;
  font-size: 14px;
}

.btn {
  background: var(--highlight-color);
  color: #fff;
  border: 1px solid #000;
  margin-right: 8px;
  margin-bottom: 5;
  padding: 6;
}

label.editable::after {
	background-image: url("/src/assets/ico_kbd.gif");
	background-repeat: no-repeat;
  background-size: 35%;
	content: "";
	position: absolute;
	width: 60px;
	height: 40px;
	margin-top: 3px;
  margin-left: 3px;
}


input {
  border: 0;
  margin-left: 30px;
  padding-right: 8;
}

input:focus {
  outline: none;
}

input.editable {
  background-image: linear-gradient(135deg, transparent, transparent 45%, var(--highlight-color) 45%, var(--highlight-color) 100%);
  background-position: bottom right;
  background-size: .7em .7em;
  background-repeat: no-repeat;
}